<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Submitted</title>
</head>
<body>
    <h1>Thanks for your feedback! &#128512;</h1>
    <p>Your feedback has been submitted succesfully</p>

    <a href="{% url 'home' %}" style="text-decoration: none; padding: 10px; background-color: blue; color: white; border-radius: 5px; margin: 5px;">Back Home</a>
    <a href="{% url 'submit_feedback' %}" style="text-decoration: none; padding: 10px; background-color: green; color: white; border-radius: 5px; margin: 5px;">New Feedback</a>
</body>
</html>