{% extends 'base.html' %}

{% block title %}Palautehamsterit{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to our feedback system!</h1>
    <hr class="my-4">
    <p class="lead">Here you can give feedback on various topics. Every feedback is very much appreciated.</p>
    <p class="lead">
        <a href="{% url 'submit_feedback' %}" class="btn btn-success">Give Feedback</a>
        <a href="/admin/" class="btn btn-outline-dark">Admin Panel</a>
    </p>
  </div>
{% endblock %}
